body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
#bodylogin{

    margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #f2f2f2;


}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
#headerlogin{

    background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;


}
img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	padding: 20px;
}

.btn {
    
	display: block;
	margin: auto;
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
}

.login-box {
	
	margin-top: 110px;
	width: 300px;
	background: #fff;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(11, 148, 40, 0.1);
}

.login-box h2 {
	margin: 0 0 20px;
	padding: 0;
	color: #333;
	text-align: center;
}

.user-box {
	position: relative;
}

.user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #333;
	margin-bottom: 30px;
	border: none;
	border-bottom: 2px solid #adadad;
	outline: none;
	background: transparent;
}

.user-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #adadad;
	pointer-events: none;
	transition: 0.5s;
}

.user-box input:focus ~ label, .user-box input:valid ~ label {
	top: -20px;
	left: 0;
	color: #333;
	font-size: 12px;
}

input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	background: #333;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}

input[type="submit"]:hover {
	background: #17b932;
	color: #333;
}

.carousel {
	position: relative;
	display: block;
	margin-left: 0 auto;
	
}

.carousel-container {
	
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

.carousel-slide {
	scroll-snap-align: center;
	flex-shrink: 0;
	width: 100%;
	
}

.carousel-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
    max-width: 700px;
	max-height: 400px;
	
    
}

.carousel-prev,
.carousel-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 3rem;
	color: #fff;
	text-decoration: none;
	z-index: 1;
    
}

.carousel-prev {
	left: 0;
}

.carousel-next {
	right: 0;
}
form {

	
	
  margin: 0 auto;
  margin-top: 4cm;
  
  }
  #bodyregistroadmin{


	background-color: rgb(76, 43, 226);

  }
  #divformularioregistro{

		
		
	background-color: rgb(101, 67, 224);
	display: flex;
	justify-content: center;
	align-items: center;
	
  }

  #btnregistroadmin{
	display: block;
	margin: 0 auto;
	
	

  }


  #vistausuario{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}
#containervistauser{

		
	width: 500px;
	height: 300px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0px 0px 10px rgba(11, 148, 40, 0.1);
	padding: 100px;
background-color: #fff;

}
  #divvistauser{

	justify-content: center;
	align-items: center;
	width: 400px;
	height: 350px;
	background-color: #fff;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	text-align: center;
  }